.guest-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 250px auto;
}
.guest-login-text{
    font-size: 30px;
    color: #666;
}
.guest-login-btn{
    background-color: #fff;
    color: #628ff9;
    padding: 15px 40px;
    border-radius: 50px;
    border: 2px solid #628ff9;
    margin: 50px 0;
    transition: all 100ms ease-in-out;
}
.guest-login-btn:hover{
    background-color: #628ff9;
    color: #fff;
}