.mbm-sec1{
    background-color: #eee;
}
/* ----------------------sec1 */
.mbm-sec1 .mbm-book-box .mbm-book-title{
    font-size: 30px;
    font-weight: 700;
    padding: 70px 50px 30px 0;
    color: #4E64AB;
    margin-left: 65px;
}
.mbm-sec1 .container .mbm-book-inner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 450px;
    padding-bottom: 70px;
    margin: 0 auto;
}
.mbm-book-inner .mbm-book-left{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 80%;
}
.mbm-book-inner .mbm-book-cover img{
    max-height: 350px;
    max-width: 250px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.08);
}

.mbm-book-left .mbm-book-btn{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.mbm-book-left .mbm-book-btn .mbm-btn-r,
.mbm-book-left .mbm-book-btn .mbm-btn-y,
.mbm-book-left .mbm-book-btn .mbm-btn-g{
    padding: 10px 15px;
    border-radius: 50px;
    color: #555;
    font-weight: 500;
    font-family: 'Noto Sans KR', sans-serif;
    cursor: pointer;
}

.mbm-book-left .mbm-book-btn .mbm-btn-r:hover,
.mbm-book-left .mbm-book-btn .mbm-btn-y:hover,
.mbm-book-left .mbm-book-btn .mbm-btn-g:hover{
    background-color: #fff;
    color: #555;
}
.mbm-book-left .mbm-book-btn .mbm-btn-r{
    background-color: #FF6B6B;
    border: 3px solid #FF6B6B;
}
.mbm-book-left .mbm-book-btn .mbm-btn-y{
    background-color: #FFD93D;
    border: 3px solid #FFD93D;
}
.mbm-book-left .mbm-book-btn .mbm-btn-g{
    background-color: #6BCB77;
    border: 3px solid #6BCB77;
}



.mbm-book-inner .mbm-book-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 50px;
    padding: 30px 0;
    width: 55%;
    height: 100%;
    color: #555;
}
.mbm-book-inner .mbm-book-text .mbm-book-writer{
    font-size: 16px;
}
.mbm-book-inner .mbm-book-text .mbm-book-publisher{
    font-size: 16px;
}

/* ----------------------sec2 */
.mbm-sec2{
    margin: 50px 0;
    padding: 0 100px;
}
.mbm-sec2 .mbm-desc{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.mbm-sec2 .mbm-desc .book-desc-title{
    width: 30%;
    font-size: 20px;
    color: #6e8ff9;
    font-weight: 700;
    line-height: 50px;
}
.mbm-sec2 .mbm-desc .book-desc-text{
    width: 70%;
    font-size: 16px;
    color: #555;
    font-weight: 400;
    line-height: 50px;
}
/* ----------------------sec3 */
.mbm-sec3{
    margin: 50px 0;
    padding: 50px 100px;
    border-top: 1px solid #ddd;
}

.mbm-sec3 .mbm-bookmark{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.mbm-sec3 .mbm-bookmark .mbm-bookmark-title{
    width: 30%;
    font-size: 20px;
    color: #6e8ff9;
    font-weight: 700;
}
.mbm-sec3 .mbm-bookmark .mbm-bookmark-contents{
    width: 70%;
    color: #555;
}
/* ----------------------sec4 */
.mbm-sec4{
    margin: 50px 0;
    padding: 50px 0;
    border-top: 1px solid #ddd;
}
.mbm-sec4 .mbm-heart-list{
    margin: 0 100px;
}
.mbm-sec4 .mbm-heart-list .mbm-heart-title{
    font-size: 20px;
    color: #6e8ff9;
    font-weight: 700;
    margin-bottom: 30px;
}
.mbm-sec4 .mbm-heart-list .mbm-heart-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0;
    color: #48466D;
}